html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #D5D4D8;
    background-color: #151515;
}

.main-container {
    margin: 0 auto;
    width: 80%;
    background-color: #1F2937;
}

.select-bar {
    margin-top: 30px;
}

form {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, select, button {
    height: 3em;
    border: none;
    cursor: pointer;
}

select {
    flex-grow: 0.8;
    background-color: #1F293A;
    border: 1px solid #D1D5DB;
    color: #D1D5DB;
    border-radius: 5px;
    padding: 0 1em;
}

button {
    background-color: #3D4B60;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 0.75rem;
    height: 4em;
    padding: 1em;
}

.palette-section {
    display: flex;
}

.grid-container p {
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template: 500px auto / repeat(5, auto);
}